---
- hosts: frontend
  become: yes

  tasks:
    - name: Ensure DNF cache is updated
      dnf:
        update_cache: yes

    - name: Install Nginx
      dnf:
        name: nginx
        state: present

    - name: Start and enable Nginx
      service:
        name: nginx
        state: started
        enabled: yes

    - name: Deploy Nginx reverse proxy config
      template:
        src: nginx.conf.j2
        dest: /etc/nginx/nginx.conf
        mode: 0644
      notify:
        - restart nginx

  handlers:
    - name: restart nginx
      service:
        name: nginx
